In [1]:
import sys
sys.path.insert(1, '/home/amrzr/Work/Codes/Offline_IMOEA_Framework/')

from desdeo_problem.Problem import DataProblem
from main_project_files.surrogate_fullGP import FullGPRegressor as fgp
from main_project_files.surrogate_SVR import SVRsurrogate
from main_project_files.surrogate_RandomForest import RandomForest
from main_project_files.surrogate_PolynomialRegression import PolynomialRegressionsurrogate as polyreg
from sklearn.model_selection import KFold, LeaveOneOut
import time
import numpy as np
import pandas as pd

In [2]:
main_directory = 'Pump_Test_Tomas_6_177'
data_folder = '/home/amrzr/Work/Codes/data'
data_file = data_folder+'/pump_data/new_results.csv'
path = data_folder + '/test_runs/' + main_directory

df = pd.read_csv(data_file)

In [3]:
df

,Iteration,F1,F2,F3,F4,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,CV
0,0,3,5,58.736104,2.056182,6300.000000,6300.000000,6300.000000,6300.000000,1,1,1,1,2700.000000,2700.000000,2700.000000,2700.000000,2,2,-1
1,1,3,3,53.958111,5.594733,4900.852796,6293.243540,5628.778774,6138.137667,0,0,0,0,2050.074348,2133.280891,2246.516169,2699.376335,0,1,-1
2,2,3,3,63.887188,13.997999,4729.345740,5507.390497,4852.241925,6145.293774,1,1,0,0,2400.230876,2600.102097,2322.476437,2253.627783,2,0,-1
3,3,3,5,65.038463,19.412622,3965.730230,5182.593377,5509.122018,6093.508854,0,1,0,1,2321.248123,2347.183126,2413.148388,2329.954071,2,2,0
4,4,3,3,72.989346,20.636689,6223.827772,5826.618008,4652.218043,4122.721945,1,1,0,1,2500.009701,2386.799156,2619.652945,2612.263159,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,6495,3,3,55.160439,11.011889,4722.908458,5361.490704,5003.890962,5907.434253,1,1,0,0,2055.979684,2050.604571,2055.296792,2050.338968,2,1,-1
6496,6496,3,5,49.326669,12.847606,4721.535295,5742.686365,5914.924091,5898.122210,1,0,1,0,2051.460554,2053.688533,2063.152512,2059.301325,0,2,-1
6497,6497,3,3,54.770106,13.037043,4673.692328,5287.396216,4993.680850,6256.103207,1,1,0,0,2050.547280,2056.665961,2051.340456,2052.407586,0,1,-1
6498,6498,3,3,55.831325,11.028512,4723.187233,5732.757448,5003.890962,5906.228277,1,1,0,0,2055.971770,2050.604571,2059.960832,2050.339486,2,0,0
6499,6499,3,3,49.721782,12.610267,4726.932756,4764.035816,5872.771015,5823.238833,1,0,1,0,2055.740680,2054.863031,2080.533080,2050.488783,0,0,0

In [5]:
X = df[['F1','F2','F3']]